/* font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600&display=swap');

/* variable css */ 
:root {
    --header-height: 3rem;
     
    /* colors */
    --hue-color: 250;

    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alternate: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 70%, 90%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);


    /* font and typography */
    --body-font: 'Outfit', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: .938rem;
    --smaller-font-size: 1rem; 

    /* font weights */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* margins - bottom */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* z-index */
    --z-toottip: 10;
    --z-fixed: 100;
    --z-model: 1000;
}

/* font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
        }
    }

/* dark theme variables */
body.dark-theme{
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}


/* Button dark/light */
.nav__btns{
    display: flex;
    align-items: center;
}

.change-theme{
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}

.change-theme{
    color: var(--first-color);
}

/* BASE */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color)
}

h1,h2,h3,h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* ------------------reusable classes--------------------   */
.section{
    padding: 2rem 0 4rem;
}

.section__title{
    font-size: var(--h1-font-size);
}

.section__subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
    text-align: center;
}

.section__title,
.section__subttitle {
    text-align: center;
}

/* layout */
.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/*----------------NAV--------------*/
.nav{
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.nav__logo{
    color: var(--title-color);
    font-weight: var(--font-medium);
}*/

.nav__logo,
.nav__toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__logo:hover{
    color: var(--first-color);
}

.nav__toggle{
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__toggle:hover{
    color: var(--first-color);
}


@media screen and (max-width: 767px){
    .nav__menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 16px rgba(0, 0, 0, .15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
        z-index: 1000;
    }
    .nav__logo,
    .nav__toggle{
        z-index: 10;
    }    
}

.nav__list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}    

.nav__link:hover{
    color: var(--first-color);
}

.nav__icon{
    font-size: 1.2rem;
}

.nav__close{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav__close:hover{
    color: var(--first-color-alternate);
}

/*---------- Show menu ----------- */
.show-menu{
    bottom: 0;
}

/*---------- active link ----------- */
.active-link{
    color: var(--first-color);
}

/*---------- change background header ----------- */
.scroll-header{
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
}

/*----------------- Home ----------------*/
.home__container{
    gap: 1rem;
}

.home__content{
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon{
    font-size: 1.25rem;
    color: var(--first-color);
}

.home__social-icon:hover{
    color: var(--first-color-alternate);
}

.home__img{
    height: 300px;
    width: 300px;
}

.home__data{
    grid-column: 1/3;
    text-align: center;
}

.home__title{
    font-size: var(--big-font-size);
}

.home__subtitle{
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
} 

.home__description{
    font-size: var(--font-medium);
    color: var(--text-color-light);
}

.home__tags{
    margin-bottom: var(--mb-2);
}

.home__scroll{
    display: none;
}

.home__scroll-button{
    color: var(--first-color);
    transition: .3s;
}

.home__scroll-button:hover{
    transform: translateY(.25rem);
}

.home__scroll-mouse{
    font-size: 2rem;
}

.home__scroll-name{
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

/* ---------------Buttons----------------- */
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
}

.uil.uil-file-download-alt{
    color: #fff;
    font-size: 1.25rem;
    margin-right: .5rem;
}

.download{
    color: #fff;
}

.button:hover{
    background-color: var(--first-color-second);
}

.button--flex{
    display: inline-flex;
    align-items: center;
}


/*------------------ About ------------------*/
.about__img{
    width: 200px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}

.about__description{
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

.about__info{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5)
}

.about__info-title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.about__info-name{
    font-size: var(--smaller-font-size);
}

.about__info-title,
.about__info-name{
    display: block;
    text-align: center;
}

/* ------------SKILLS------------ */
.skills__container{
    row-gap: 0;
}

.skills__header{
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-1-5);
    cursor: pointer;
}

.skills__icon,
.skills__arrow{ 
    font-size: 2rem;
    color: var(--first-color);
}

.skills__icon{
    margin-right: var(--mb-0-75);
}

.skills__title{
    font-size: var(--h3-font-size);
}

.skills__subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.skills__list{
    row-gap: 1.5rem;
    padding-left: 2.7rem;
}

.skills__arrow{
    margin-left: auto;
    transition: .4s;
}

.skills__titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.skills__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skills__bar,
.skills__percentage{
    height: 5px;
    border-radius: .25rem;
}

.skills__bar{
    background-color: var(--first-color-lighter);
}
     
.skills__percentage{
    display: block;
    background-color: var(--first-color);
}

.skills__ability1{
    width: 90%;
}

.skills__ability2{
    width: 90%;
}

.skills__ability3{
    width: 90%;
}

.skills__tool1{
    width: 90%;
}

.skills__tool2{
    width: 90%;
}

.skills__tool3{
    width: 90%;
}

.skills__close .skills__list{
    height: 0;
    overflow: hidden;
}

.skills__open .skills__list{
    height: max-content;
    margin-bottom: var(--mb-3);
}

.skills__open .skills__arrow{
    transform: rotate(-180deg);
}

/* -----------Qualification------------ */
.qualification__tabs{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
}

.qualification__button{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
}

.qualification__button:hover{
    color: var(--first-color);
}

.qualification__icon{
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.qualification__data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.qualification__subtitle{
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-0-25);
}

.qualificationion__calendar{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.qualification__rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
}

.qualification__line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px); 
}

.qualification [data-content]{
    display: none;
}

.qualification__active[data-content]{
    display: block;
}

.qualification__button.qualification__active{
    color: var(--first-color);
}

/* -----------Portfolio------------ */
.portfolio__container{
    overflow: initial;
}

.portfolio__content{
    padding: 0 0;
    text-align: center;
}
 
.portfolio__img{
    box-shadow: 0px 1px 20px -8px;
    border-radius: .5rem;
    justify-self: center;
}

.portfolio2__img{
    box-shadow: 0px 4px 8px -1px;
    border-radius: .5rem;
    justify-self: center;
}

.portfolio__title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}

.portfolio__description{
    margin-bottom: var(--mb-0-75);
}

.portfolio__button{
    margin-bottom: var(--mb-1-5);
}

.portfolio__button:hover .button__icon{
    transform: translateX(.25rem);
    transition: .3s;
}

/* -----------Connect with me------------ */
.contact__container{
    row-gap: 3rem;
}

.contact__information{
    display: flex;
    margin-bottom: var(--mb-2);
}

.contact__icon{
    font-size: 2rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
}

.contact__title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.contact__subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

/* -----------Connect with me------------ */
.footer{
    padding-top: 2rem;
}

.footer__container{
    row-gap: 3.5rem;
}

.footer__bg{
    background-color: var(--first-color);
    padding: 2rem 0 3rem;
}

.footer__title{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}

.footer__subtitle{
    font-size: var(--small-font-size);
}

.footer__links{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.footer__link:hover{
    color: var(--first-color-lighter);
}

.footer__social{
    font-size: 1.25rem;
    margin-right: var(--mb-1-5);
}

.footer__socials{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__social:hover{
    color: var(--first-color-lighter);
}

.footer__copy{
    font-size: var(--small-font-size);
    text-align: center;
    color: var(--text-color-light);
    margin-top: var(--mb-3);
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social{
    color: #fff;
}

/* -----------Scroll up button------------ */
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--first-color);
    opacity: .8;
    padding: .3rem .6rem;
    border-radius: .4rem;
    z-index: var(--z-toottip);
    transition: .4s;
}

.scrollup:hover{
    background-color: var(--first-color-alternate);
    opacity: 1;
}

.scrollup__icon{
    font-size: 1.5rem;
    color: #fff;
}

/* -----------Show Scroll up------------ */
.show-scroll{
    bottom: 5rem;
}

/* -----------Show bar------------ */
::-webkit-scrollbar{
    width: .60rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--text-color-light);
}

/* ----------- MEDIA QUERIES------------ */

/* FOR SMALL DEVICES */
@media screen and (max-width: 350px){
    .container{
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .nav__menu{
        padding: 2rem .25rem 4rem;
    }

    .nav__list{
        column-gap: 0;
    }

    .home__content{
        grid-template-columns: .25fr 3fr; 
    }
    .home__img{
        width: 180px;
        height: auto;
    }

    .skills__title{
        font-size: var(--normal-font-size);
    }

    .qualification__data{
        gap: .5rem;
    }
}

/* FOR MEDIUM DEVICES */
@media screen and (min-width: 568px){
    .home__content{
        grid-template-columns: max-content 1fr 1fr;
    }
    .home__data{
        text-align: left;
        grid-column: initial;
        justify-self: center;
        height: auto;
    }

    .home__img{
        order: 1;
        justify-self: center;
        align-items: center;
        width: 200px;
        height: auto;
    }

    .home__title{
        font-size: 1.5rem;
    }

    .home__description{
        font-size: 0.813rem;
        line-height: 1.25rem;
    }

    .about__container,
    .footer__container{
        grid-template-columns: repeat(2,1fr);
    }

    .qualification__sections{
        display: grid;
        grid-template-columns: .8fr;
        justify-content: center;
    }

    .button.button--flex{
        margin-bottom: 1rem;
    }

    .about__info-name{
        font-size: 0.813rem;
    }

    .about__info{
        margin-bottom: 0;
    }

    .portfolio__img,
    .portfolio2__img,
    .portfolio__description{
        width: 75%;
        margin: auto;
    }

    .portfolio__description{
        margin-bottom: 1rem;
    }

    .section.contact.section{
        padding-top: 1rem;
    }


}

@media screen and (min-width: 768px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }
    
    body{
        margin: 0;
    }

    .section{
        padding: 6rem 0 2rem;
    }
    .section__subtitle{
        margin-bottom: 4rem;
    }

    .header{
        top: 0;
        bottom: initial;
    }

    .header,
    .main,
    .footer__container{
        padding: 0 1rem;
    }
     
    .nav{
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }
    .nav__icon,
    .nav__close,
    .nav__toggle{
        display: none;
    }
    .nav__list{
        display: flex;
        column-gap: 2rem;
    }
    .nav__menu{
        margin-left: auto;
    }
    .change-theme{
        margin: 0;
    }

    /* .home__content{
        grid-template-columns: max-content 1fr 1fr;
    } */

    .home__data{
        text-align: left;
        grid-column: initial;
        justify-self: center;
        height: auto;
    }

    .home__img{
        order: 1;
        justify-self: center;
        align-items: center;
        width: 250px;
        height: auto;
    }

    .home__title{
        font-size: 1.5rem;
    }

    .home__description{
        font-size: 1rem;
        line-height: 1.25rem;
    }
    
    .home__container{
        row-gap: 5rem;
    }
    .home__content{
        padding-top: 5.5rem;
        column-gap: 2rem;
    }

    .home__scroll{
        display: block;
    }

    .home__scroll-button{
        margin-left: 3rem;
    }


    .about__container,
    .footer__container{
        grid-template-columns: repeat(2,1fr);
    }

    .about__container{
        column-gap: 5rem;
        margin: auto;
    }
    .about__img{
        width: 350px;
    }
    .about__description{
        text-align: center;
        margin-bottom: 3rem;
    }
    .about__info{
        justify-content: space-between;
        margin-bottom: 0;
    }
    .about__data{
        height: auto;
        justify-content: center;
    }

    .qualification__tabs{
        justify-content: center;
    }
    .qualification__button{
        margin: 0 var(--mb-1);
    }
    .qualification__sections{
        grid-template-columns: .5fr;
    }

    .portfolio__description{
        font-size: 1.125rem;
        margin: auto;
        text-align: center;
        width: 60%;
        margin-bottom: 1rem;
    }

    .portfolio__img,
    .portfolio2__img{
        width: 320px;
    }
    .portfolio__content{
        align-items: center;
    } 

    .footer__container{
        grid-template-columns: repeat(3, 1fr);
    }
    .footer__bg{
        padding: rem 0 3.5rem;
    }
    .footer__social{
        font-size: 1.25rem;
        margin-right: var(--mb-1-5);
    }
    
    .footer__socials{
        display: flex;
        flex-direction: row;
        align-items: start;
    }

}

/* FOR LARGE DEVICES */
@media screen and (min-width: 1024px){
    .header,
    .main,
    .footer__container{
        padding: 0;
    }

    .home__img{
        width: 320px;
    }
    .home__social{
        transform: translateX(-6rem);
    }

    .portfolio__content.grid{
        display: flex;
        gap: 8rem;
    }

    .portfolio__content.grid.complete{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 342px;
    }

    .portfolio__img{
        width: 280px;
        height: 160px;
    }

    .portfolio2__img{
        width: 280px;
        height: 160px;
    }

    .portfolio__description{
        width: auto;
        text-align: justify;
    }

    
}

/*
@media screen and (max-width: 350px){
    .container{
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .nav__menu{
        padding: 2rem .25rem 4rem;
    }
    .nav__list{
        column-gap: 0;
    }

    .home__social{
        height: auto;
    }

    .home.section{
        padding: 0;
    }

    .home__title{
        font-size: 1.75rem;
    }

    /* .home__content{
        grid-template-columns: .25fr 3fr;
    } 
    
    .home__img{
        width: 180px;
        height: auto;
    }

    .about__info-name{
        font-size: 0.813rem;
    }

    .skills__title{
        font-size: var(--normal-font-size);
    }

    .qualification__data{
        gap: .5rem;
    }

    .qualification__title{
        font-size: var(--small-font-size);
    }

    .qualification__subtitle{
        font-size: .75rem;
    }

    .qualification__calendar{
        font-size: .75rem;
    }

    .portfolio__description{
        margin-bottom: var(--mb-0-75);
        line-height: 1.5rem;
    }

    .contact__title{
        font-size: var(--font-medium);
    }

    .contact__subtitle{
        font-size: .813rem;
    }

    .footer__copy{
        font-size: 1rem;
    }
}

/* For medium devices */
/*@media screen and (max-width: 568px){
    .home__content{
        grid-template-columns: max-content 1fr 1fr;
    }

    .home__data{
        text-align: left;
        grid-column: initial;
        justify-self: center;
        height: auto;
    }

    .home__img{
        order: 1;
        justify-self: center;
        align-items: center;
        width: 200px;
        height: auto;
    }

    .home__title{
        font-size: 1.5rem;
    }

    .home__description{
        font-size: 0.813rem;
        line-height: 1.25rem;
    }

    .about__container,
    .footer__container{
        grid-template-columns: repeat(2,1fr);
    }

    .qualification__sections{
        display: grid;
        grid-template-columns: .8fr;
        justify-content: center;
    }
}*/

/*@media screen and (min-width: 768px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    body{
        margin: 0;
    }

    .section{
        padding: 6rem 0 2rem;
    }
    .section__subtitle{
        margin-bottom: 4rem;
    }

    .header{
        top: 0;
        bottom: initial;
    }

    .header,
    .main,
    .footer__container{
        padding: 0 1rem;
    }
     
    .nav{
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }
    .nav__icon,
    .nav__close,
    .nav__toggle{
        display: none;
    }
    .nav__list{
        display: flex;
        column-gap: 2rem;
    }
    .nav__menu{
        margin-left: auto;
    }
    .change-theme{
        margin: 0;
    }

    /* .home__content{
        grid-template-columns: max-content 1fr 1fr;
    } 

    .home__data{
        text-align: left;
        grid-column: initial;
        justify-self: center;
        height: auto;
    }

    .home__img{
        order: 1;
        justify-self: center;
        align-items: center;
        width: 250px;
        height: auto;
    }

    .home__title{
        font-size: 1.5rem;
    }

    .home__description{
        font-size: 1rem;
        line-height: 1.25rem;
    }
    
    .home__container{
        row-gap: 5rem;
    }
    .home__content{
        padding-top: 5.5rem;
        column-gap: 2rem;
    }

    .home__scroll{
        display: block;
    }

    .home__scroll-button{
        margin-left: 3rem;
    }


    .about__container,
    .footer__container{
        grid-template-columns: repeat(2,1fr);
    }

    .about__container{
        column-gap: 5rem;
        margin: auto;
    }
    .about__img{
        width: 350px;
    }
    .about__description{
        text-align: center;
        margin-bottom: 3rem;
    }
    .about__info{
        justify-content: space-between;
        margin-bottom: 0;
    }
    .about__data{
        height: auto;
        justify-content: center;
    }

    .qualification__tabs{
        justify-content: center;
    }
    .qualification__button{
        margin: 0 var(--mb-1);
    }
    .qualification__sections{
        grid-template-columns: .5fr;
    }

    .portfolio__description{
        font-size: 1.125rem;
        margin: auto;
        text-align: center;
        width: 60%;
        margin-bottom: 1rem;
    }

    /* .portfolio__img,
    .portfolio2__img{
        width: 320px;
    }
    .portfolio__content{
        align-items: center;
    } 

    .footer__container{
        grid-template-columns: repeat(3, 1fr);
    }
    .footer__bg{
        padding: rem 0 3.5rem;
    }
    .footer__social{
        font-size: 1.25rem;
        margin-right: var(--mb-1-5);
    }
    
    .footer__socials{
        display: flex;
        flex-direction: row;
        align-items: start;
    }

} */
